.Card-Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
#lane4354354{
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: #444;
    margin-top: 35px;
}
#lane4354354::first-letter,#News35365654{
    font-size: 4rem;
    color: #6f00ff;
}
@media(max-width:360px){
    #lane4354354{
        font-size: 2.8rem;
    }
    #lane4354354::first-letter,#News35365654{
        font-size: 3.2rem;
    }
}